#root {
  background: url("@/assets/matchmaker.jpg") !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
}

:root {
  --textColor: #fcfcfc !important;
  --primaryColor: #d38188 !important;
  --hoverColor: rgba(255, 255, 255, 0.05) !important;
  /* --backgroundColor: #2d2e3d !important; */
  --backgroundColor: #666 !important;
  /* --dividerColor: rgba(255, 255, 255, 0.1) !important; */
  /* 隐藏分割线 */
  --dividerColor: rgba(255, 255, 255, 0) !important;

  --maskColor: rgba(33, 33, 33, 0.5) !important;
  --placeholderColor: rgba(131, 131, 131, 0.6) !important;
}

.side-bar-container,
.page-container {
  background-color: rgba(33, 33, 33, 0.5) !important;
}

.side-bar--list-item-container[data-selected="true"] {
  background-color: rgba(255, 255, 255, 0.05) !important;
}

.header-container,
.music-bar-container {  
  background-color: rgba(33, 33, 33, 0.5) !important;
  /* 取消蒙层，背景透明化 */
  /* backdrop-filter: blur(10px) !important; */
}


input+svg {
  color: white !important;
  opacity: 0.7 !important;
}

.header-search {
  background-color: #666 !important;
}

.header-search input {
  background-color: transparent !important;
}

a {
  color: #00b7ff !important;
}