#root {
  background: url("@/imgs/Pirates.png") !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
}

:root {
  --textColor: #ffffff !important;
  --primaryColor: #7E98FF !important;
  --hoverColor: rgb(76, 112, 136) !important;
  --backgroundColor: #315472 !important;
  --dividerColor: transparent !important;
  --placeholderColor: transparent !important;
}

#root *::-webkit-scrollbar {
  display: none !important;
}

.header-container,
.music-bar-container {
  background-color: transparent !important;
}

input+svg {
  color: #365C7D !important;
  opacity: 0.7 !important;
}

.header-search input {
  background-color: transparent !important;
}

a {
  color: #6eff81 !important;
}

/* 歌曲详情页 */
.music-detail-container {
  background-image: url("@/imgs/Pirates.png") !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  top: -54px !important;
  bottom: -64px !important;
  padding-top: 64px !important;
}

.hide-music-detail {
  top: 100px !important;
  right: 100px !important;
}

/* 歌词高亮 */
.lyric-item {
  opacity: 0.3 !important;

  &[data-highlight="true"] {
    color: #eeff00 !important;
    font-size: 1.2em !important;
    font-weight: 600 !important;
    opacity: 1 !important;
  }
}