#root {
/* background-color: #85FFBD; */
background-image: linear-gradient(45deg, #85FFBD 0%, #FFFB7D 100%);

}

:root {
  --textColor: #000 !important;
  --textSecondaryColor: #383838 !important;
  --backgroundColor:  #ffffff  !important;
  --shadowColor: rgba(0, 0, 0, 0.15) !important;
  --dividerColor: #e8e8e8 !important;
  --maskColor: rgba(255, 255, 255, 0.3) !important;
  --primaryColor: #77e968 !important;
  --headerTextColor: black !important;
  --listActiveColor: #14221452 !important;
}

/*音乐详情页背景*/
.music-detail-background {
mask-image: none !important;
-webkit-mask-image: none !important;
}

.header-container {
  background-color: #f1f1f1 !important;
}


.music-bar-container {
  background-color: #ffffff !important;
}

.app-container {
  backdrop-filter: blur(2px);
}

.body-container {
  background-color: rgba(128,128,128,0.1);
}

input+svg {
  color: rgb(180, 180, 180) !important;
  opacity: 0.1 !important;
}

/*搜索框*/
.header-search {
  background-color: transparent !important;
}

.header-search input {
  background-color: transparent !important;
}

/*软件内涉及到超链接的字体颜色*/
a {
  color: rgb(200, 120, 30) !important;
}

