#root {
  background: url("@/assets/night_sky_stars_linear_gradient_hd_8k_anime_style_8013dbdf-270b-4f00-b981-5745e056aae3.png") !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
}

:root {
  --textColor: #fcfcfc !important;
  --primaryColor: #d38188 !important;
  --hoverColor: rgba(255, 255, 255, 0.05) !important;
  --backgroundColor: #2d2e3d !important;
  // --shadowColor: rgba(128, 128, 128, 0.1) !important;
  --dividerColor: rgba(255, 255, 255, 0.1) !important;
  --maskColor: rgba(33, 33, 33, 0.8) !important;
  --placeholderColor: rgba(131, 131, 131, 0.6) !important;
}

.side-bar-container,
.page-container {
  background-color: rgba(33, 33, 33, 0.5) !important;
}

.side-bar--list-item-container[data-selected="true"] {
  background-color: rgba(255, 255, 255, 0.05) !important;
}

.header-container,
.music-bar-container {
  background-color: rgba(33, 33, 33, 0.5) !important;
  backdrop-filter: blur(10px) !important;
}


input + svg {
  color: white !important;
  opacity: 0.7 !important;
}

.header-search {
  background-color: #666 !important;
}

.header-search input {
  background-color: transparent !important;
}

a {
  color: #8bd1ed !important;
}
